<%
const distRoot = '.'
include(distRoot + '/_config', { distRoot })
%>
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <%- include('_parts/_meta', { config: config }) %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Serif+JP:400,700&display=swap&subset=japanese" rel="stylesheet">
  <link rel="stylesheet" href="<%= config.dir.css %>style.css?<%= config.timestamp %>">
</head>
<body>
<%- include('_parts/_indexBody') %>
<script src="<%= config.dir.js %>app.js?<%= config.timestamp %>"></script>
</body>
</html>
